.headline2 {
    width: 100%;
    background: white;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: left;
    margin-top: 1rem;
}
.holdingcontainer2 {
    width: 100%;
    background: white;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
@media screen and (max-width:750px) {
    .holdingcontainer {
        flex-direction: column;
    }
}
.internalcontainerA2 {
    flex: 1;
    background: white;
    margin: .5rem;
    padding: 1rem;
}
.internalcontainerL2 {
    flex: 1;
    background: white;
    margin: .5rem;
    padding: 1rem;
}
.internalcontainerR2 {
    flex: 1;
    background: white;
    margin: .5rem;
    padding: 1rem;

}
