html{-webkit-tap-highlight-color: transparent;-webkit-user-select: none;-ms-user-select: none;user-select: none;}*{margin: 0%;padding: 0%;box-sizing: border-box;}
figure, figure img, picture{ display: flex;} 
figure{position: relative;margin: .5rem .25rem 2.75rem .25rem;}@font-face{font-family: "BBBouquet-Regular";src: url("Font/BBBouquet-Regular.woff2") format("woff2"),url("Font/BBBouquet-Regular.woff") format("woff");}
h,h1,h2,h3,h4,h5,h6,a,p,p1,p2,p3,p4,p5,p6{font-family:BBBouquet-Regular,Futura,Trebuchet MS,Arial,sans-serif;}
body#bodyid.bodyclass.show{overflow: hidden;} 
body{width: 100%;height: 100%;min-height: 100vh;background: white;color: black;display: flex;flex-direction: column;font-family: BBBouquet-Regular,Futura,Trebuchet MS,Arial,sans-serif;font-size: 1rem;}
footer, header{font-family: Trebuchet MS;}main ul li a{font-family: BBBouquet-Regular,Futura,Trebuchet MS,Arial,sans-serif;font-size: 1rem;letter-spacing: .15rem;font-weight: lighter;}
.balkencontainer{display: flex;flex-direction: column;width: 100%;height: 1.5rem;justify-content: center;align-items: center;margin-top: -.45em;}
.balkentext{margin-top: -1rem;display: flex;align-items: baseline;flex-direction: row;flex-wrap: nowrap;margin-left: auto;margin-right: 1%;z-index: 101;}
.balkentext h4{padding-left: .3rem;padding-right: .3rem;}.balken_2{background-color: black;width: 100%;height: 100%;}
.balken{background-color: black;width: 98%;height: 0.15rem;}
.balken2{background-color: black;width: 25%;height: 0.11rem;margin-top: 0.25rem;margin-left: auto;margin-right: 1%;}
.balken3{background-color: black;width: 17%;height: 0.11rem;margin-top: 0.25rem;margin-left: auto;margin-right: 1%;}
header{position: relative;display: flex;background-color: transparent;flex-direction: row;flex-wrap: nowrap;width: 100%;align-items: center;align-content: center;justify-content: center;}
.header-title {position: relative;display: flex;align-content: center;text-align: center;align-items: center;justify-content: center;text-transform: uppercase;z-index: 1000;height: 3.5rem;font-weight: lighter;letter-spacing: .6em;}
.header-title a span{color: black;font-size: 1.25rem;height: 100%;text-align: center;box-sizing:border-box;display: block;float: none;line-height: normal;position: static;z-index: auto;}
.header-title p{color: black;text-decoration: none;list-style-type: none;}nav .menu{display: flex;flex: 1;}
.header-title a{text-decoration: none;list-style-type: none;letter-spacing: 2.5%;text-decoration: none;padding-top: 1em;padding-bottom: 1em;}
p.menupoint{height: 8px;position: absolute;text-indent: -100rem;width: 8px;border-radius: 8px;cursor: pointer;z-index: 1000;background-color: black;}
.menu-toggle{display: none;position: absolute;left: 0;text-indent: -100rem;width: 3em;padding-top: 1em;padding-bottom: 1em;align-items: center;justify-content: center;justify-items: center;}
nav.menu li{display: flex;align-content: center;text-align: center;align-items: center;flex-direction: row;letter-spacing: .3rem;padding-right: 4rem;padding-left: 4rem;}
li.menu-item a{color: black;text-decoration: none;list-style-type: none;}li.menu-item a:hover{color:rgb(219, 10, 10);}
nav.menu ul{display: flex;height: 100%;width: 100%;}nav.menu ul li{padding-left:2.5rem;}
nav.menu{background-size: 1rem 1rem;bottom: 0;height: 100%;position: absolute;width: 100%;z-index: 101;}
address{display: none;font-size: 1.25rem;text-decoration: none;text-decoration-style: none;color: black;letter-spacing: .3rem;width: 100ch;height: auto;width: 100%;}
address div p a{font-size: 1.25rem;text-decoration: none;text-decoration-style: none;color: black;align-content: center;text-align: center;align-items: center;}

#address.studio-address-on-mobile{font-size: 0.6rem;}
#address.studio-address-on-mobile p a{font-size: .6rem;}
#address.on-mobile{font-size: 0.6rem;}
#address.on-mobile p a{font-size: .6rem;}

#menupointid.show{background: url("black-cross.png") no-repeat;background-size: 100%;background-color: transparent;height: 1.05rem;width: 1.05rem;} 
#menu.show{display: none;}
#navMenu.show{left: 0;right: 0;top: 0; bottom: 0;font-size: 1.75rem;letter-spacing: .6rem;min-width: 100vw;width: 100%;min-height: 100vh;display: flex;flex-direction: column;align-content: center;align-items: center;z-index: 101;background-color: rgb(219, 10, 10);}
#nav-ul.show{transform: translateY(40%);display: flex;flex-direction: column;align-items: center;flex-wrap: nowrap;width: 100%;height: auto;margin-top: auto;}
#nav-ul.show li{margin: 1.5rem;}
#nav-ul.show li.activePage a{color: black;z-index:101;}
#nav-ul.show li.activePage a:hover{color: white;z-index:102;}
#nav-ul.show li.menu-item a{color: black;}
#nav-ul.show li.menu-item a:hover, #address.show li.menu-item a:hover{color: white;} 
#address.show{transform: translateY(100%);color: black;background-color: rgb(219, 10, 10);display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center;justify-content: center;align-content: center;text-decoration: none;height: auto;width: 55%;margin-top: auto;margin-bottom: 80%;}
#address.show li a{color: black;}
.workclass{ display: flex;justify-content: center;}
main{display: flex;justify-content: center;background-color: transparent;height: auto;width: 100%;color: black;letter-spacing: .1rem;padding-left:.75rem;padding-right:.75rem;}
main ul{display: flex;flex-direction: row;flex-wrap: wrap;align-content:center;align-items: center;text-align: center; margin-top:1rem; }
main ul li{display: block;padding: 1rem 2rem 1rem 2rem;list-style-type: none;}
main ul li:hover{list-style-type: circle;rgb(219, 10, 10);}
.footer-wrapper{height: auto;min-height: 20vh;display: flex;align-content: flex-end;} 
footer{margin-top: auto;color: white;display: flex;flex-direction: row;width: 100%;padding-top: 5rem;padding-bottom: 3rem;padding-left: 2.5rem;letter-spacing: .1rem;font-size: .75em;}
footer p a {color: black;text-decoration: none;}
.instagram{height: 1rem;display: flex;align-content: space-around;align-items: center;margin-right: 3.5%;margin-top: .5%;margin-bottom: .5%;font-size: .85rem;}
.copyright{height: 1rem;display: flex;align-content: center;align-items: center;margin-right: 3.5%;margin-top: .5%;margin-bottom: .5%;}
.privacy{height: 1rem;display: flex;align-content: space-around;align-items: center;margin-top: .5%;margin-bottom: .5%;}
#myBtn{ display: none;     width: 0;
    height: 0;
    border-top: 0.2rem solid white;
    border-right: .5rem solid white;
    border-bottom: 1rem solid black;
    border-left: .5rem solid white;
    align-content: space-around;
    align-items: center;
    cursor: pointer;
}#myBtn:hover{ 
    border-bottom: 1rem solid rgb(219, 10, 10);}
.wrapper{margin-top: 2rem;text-align: center;font-size: 3rem;padding: 0 1em 0 1em;}
.project-list{padding: 2.25rem 0 2.25rem 0;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;justify-items: center;}
.project-image{margin: .5rem;}
.activePage a {color: rgb(219, 10, 10);text-decoration: none;}
.activePage{transform: rotate(-0.025turn);transition-timing-function: ease;}
.project-image img{width: 100%;height: 100%;}
.project-info{color: black;text-decoration: none;list-style-type: none;    position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.project-info p {position: absolute;width: auto;min-width: 100%;left: 0;padding: 100% 1.5rem 0 1.5rem; text-align: center;letter-spacing: .25rem;} 
.about{width: 100%;background: white;height: auto;padding-left: 1.5rem;padding-right: 1.5rem;padding-top: .25rem; padding-bottom: .25rem;display: flex;align-items: center;align-content: center;text-align: center;justify-content: center;font-size: 3em;}
a.studiolist{display: inline;color: black;text-decoration: none;}
#workclass li:hover{color: rgb(219, 10, 10);}
p.project-image:hover, .project-info:hover{color: rgb(219, 10, 10);}
.internalabout{background: white;align-items: center;align-content: center;text-align: center;justify-content: center;margin: .5rem;padding: .8rem;}
.holdingcontainer {width: 100%;background: white;height: auto;padding: 1rem;display: flex;flex-direction: row;margin-top: auto;}
.internalcontainerA {flex: 2;background: white;margin: .5rem;padding: 1rem;}
.internalcontainerL {flex: 2;background: white;margin: .5rem;padding: 1rem;}
.internalcontainerR {flex: 1;background: white;margin: .5rem;padding: 1rem;}
.madeby{margin: .5rem;padding: .5rem;letter-spacing: .15em;font-size: 1em;}
.madebyinfo{display: flex;width: auto;align-items: center;text-align: center;justify-content: center;margin: .5rem;padding: .5rem;letter-spacing: .1em;font-size: 0.9em;}
figure.project1:hover{transform: translateY(0)}
figure.project1:hover:before{opacity: 1;}
figure.project1:hover .project-info1{opacity: 1;transform: translateY(0);}
figure.project1{position: relative;}
figure.project1:before{content: '';position: absolute;display: block;width: 100%;height: 100%;background: transparent;z-index: 2;transition: 0.3s;opacity: 0;box-shadow: inset 0 0 0 0.15rem black;}
figcaption.project-info1{position: absolute;top: 0;left: 0;padding-left: 5%;margin-top: 1.5rem;width: 100%;height: 100%;}
.project1 .project-info1{position: absolute;z-index: 3;opacity: 0;transform: translateY(0);transition: 0.1s;}
.project-info1 p{margin: 0;letter-spacing: .1rem;}
@media screen and (max-width:330px){.header-title a span{font-size: 0.9rem;}}
@media (max-width: 950px){#nav-ul{display: none;}.balkentext{display: none;}.balken2{display: none;}.balken3{display: none;}}
@media screen and (max-width:750px){.holdingcontainer {flex-direction: column;}}
@media screen and (min-width: 440px){.project1 .project-info1{color: black;}}
@media screen and (max-width: 440px){.project1 .project-info1{color: transparent;}}
@media (max-width: 600px){footer{flex-wrap: wrap;flex-direction: column;}.instagram{margin-left: 0;}.copyright{margin-left: 0;}.privacy{margin-left: 0;}#myBtn{margin-left: auto;margin-right: 6%;}}
@media (max-width: 750px){figure.project1{width: 36vw;padding:0;}}
@media (min-width: 750px){figure.project1{width: 36vh;height: 36vh;}}
@media (min-width: 600px){footer{flex-wrap: nowrap;}.copyright{margin-left: auto;}#myBtn{margin-left: 3.5%;margin-right: 3.5%;}.privacy{margin-left: 3.5%;margin-right: 3.5%;}}
li.menu-item{font-size:1.2125rem;letter-spacing: 0;}h2{font-size:3.125rem;letter-spacing: 2.5%;}
